.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    height: 4rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    /* background: #000; */
    color: #fff;
}
.links{
    display: flex;
    align-items: center;
    list-style: none;
    column-gap: 1.5rem;
    a{
        color: #fff;
        text-decoration: none;
    }
    a.active{
        color: #fff;
        border-bottom: 3px solid rgb(58, 16, 120);
    }
}
.navbar-btn{
    border: 1px solid rgb(58, 16, 120);
    background: rgb(58, 16, 120);
    padding: 0.6rem 2rem;
    color: #fff;
    font-family: "Sora", sans-serif;
}